
<footer>
    <div class="footer__banner">
        <div class="footer__logo-ctr">
            <svg><use class="footer__logo" xlink:href="#logo" /></svg>
        </div>
    </div>

    <div class="footer__content">
        <section>

        </section>

        <section>
            &nbsp;
        </section>

        <section>

        </section>
    </div>

    <div class="footer__banner">
        <p class="footer__copy">
            &copy; Copyright 2018 by Heavy Decibels Audio Engineering. All rights reserved.
        </p>
    </div>

</footer>
