<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>
        {% include svg.html %}

        {% include header.html %}

        <main>
            <div class="content">

                <div class="preview">
                    <img alt="Shred Ahead Preview" src="images/iphone.png" />
                </div>

                <div class="copytext">
                    <h2>Master your scales with Shred Ahead.</h2>
                    <p>
                        Shred Ahead makes learning and practicing your scales fun.
                        That means you'll be playing better, faster, and with more
                        consistency than ever before.
                    </p>
                    <ul class="benefits">
                        <li>
                            <h3>7 Positions</h3>
                            <p>
                                Learn your major, minor, and pentatonic scales in each
                                of the 7 positions, allowing you to shred up and down
                                the guitar neck.
                            </p>
                        </li>
                        <li>
                            <h3>12 Keys</h3>
                            <p>
                                Learn your scales in each of the twelve keys, allowing
                                you to play along with your favorite song, no matter
                                what it is.
                            </p>
                        </li>
                        <li>
                            <h3>Unlimited Fun</h3>
                            <p>
                                Use Shred Ahead to learn new scales or refresh your
                                chops. Work through your scales at your own pace while
                                leveling up your playing.
                            </p>
                        </li>
                    </ul>
                    <p>
                        Sign up above for our mailing list for discount codes and to
                        be the first to know when we launch.
                    </p>
                </div>
            </div>
        </main>

        {% include footer.html %}
        {% include analytics.html %}
    </body>

</html>
